@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: radial-gradient(
    circle at top right,
    #182c35 0%,
    #171329 40%,
    #08090d 75%,
    #000000 100%
  );
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner-container {
  display: flex;
  align-items: center;
}

.spinner {
  background-image: linear-gradient(#10b981 35%, #14b8a6);
  width: 70px;
  height: 70px;
  animation: spinning82341 1.7s linear infinite;
  text-align: center;
  border-radius: 50px;
  box-shadow: 0px -5px 20px 0px #10b981, 0px 5px 20px 0px #14b8a6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner1 {
  background-color: rgb(0, 61, 34);
  width: 80px;
  height: 80px;
  border-radius: 50px;
  filter: blur(10px);
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: end; /* Aligns text to the right (end) */
  margin-left: 15px;
  font-family: "Fira Code", "JetBrains Mono", "Source Code Pro", Menlo, Consolas;
}

.titleh1 {
  font-family: "Bruno Ace SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
}

.gradient-text {
  background: linear-gradient(to right, rgb(16, 185, 129), rgb(20, 184, 166));
  -webkit-background-clip: text;
  color: transparent;
}

@keyframes spinning82341 {
  to {
    transform: rotate(360deg);
  }
}
